<header >
<div class="header">
    <div class="logo">{{header.brandName}}</div>
    <nav>
        <a href="{{links.url}}" class="nav_link">{{links.text}} ХУЙХУЙХУЙХУХЙУХЙУХУЙХ</a>
    </nav>
</div>

</header>