    <div class="footer">
    {{#with footer}}
    {{#each pages}}
    <a class="nav_footer" href="{{path}}">{{name}}</a>
    {{/each}}
    <p class="footer_copyright">{{copyright}}</p>
    {{/with}}
    </div>